@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Poppins:wght@300;400;500;600&display=swap');


body{
    background-color: antiquewhite; /* bra farge? */
    margin: 0;
    font-family: 'Comic Neue', cursive;
    font-family: 'Poppins', sans-serif;
    color: #ff5b2e;
}


/* Title CSS */
.title-container{
    display: grid;
    justify-content: center;
}

.page-title{
    font-size: 2rem;
}

/* Icon CSS */
.cross-icon{
    height: 30px;
}

.pluss-icon{
    height: 30px;
}


