.form-login{
    width: 40%;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #C8BCAC 2px;
    border-radius: 2rem;
    box-shadow: 1px 3px 6px 1px rgba(92, 92, 92, 0.289);
}
.login-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-logo{
    display: grid;
    grid-template-columns: 2fr, 8fr, 2fr;
    grid-column: 3 / 10;
    margin: 2rem;
    height: 75px;
}

.form-txt{
    font-size: x-large;
    font-weight: light;
    
}

.login-btn{
    margin: 1rem;
    height: 50px;
    font-size: large;
    border-radius: 15px;
    box-shadow: 1px 3px 6px 1px rgba(92, 92, 92, 0.289);
    background-color: #ff5b2e;
    color: white;
    border: none;
    width: 10rem;
}

.form-login input{
    margin: 1rem;
}

.feide-login{
    width: 50vh;
}
.form-input{
    margin: 1rem;
    width: 15rem;
    margin: 1rem;
    height: 50px;
    font-size: large;
    border-radius: 15px;
    box-shadow: 1px 3px 6px 1px rgba(92, 92, 92, 0.289);
    border: none;
    align-items: center;
    text-align: center;
}
.x-btn{
    width: 3rem;
    display: flex;
      position: fixed;
  top: 0;
  right: 0;
  transform: translate(-50%, 50%);
}

.input-field{
    width: 15rem;
    margin: 1rem;
    height: 50px;
    font-size: large;
    border-radius: 15px;
    box-shadow: 1px 3px 6px 1px rgba(92, 92, 92, 0.289);
    border: none;
    align-items: center;
    text-align: center;
}
::placeholder{
    text-align: center;
}

.form-registration{
    text-align: center;
}

.occupation-form{
    width: 40%;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #C8BCAC 2px;
    border-radius: 2rem;
    box-shadow: 1px 3px 6px 1px rgba(92, 92, 92, 0.289);
    
}
.occupation-btn{
    margin: 1rem;
    height: 50px;
    font-size: large;
    border-radius: 15px;
    box-shadow: 1px 3px 6px 1px rgba(92, 92, 92, 0.289);
    background-color: #ff5b2e;
    color: white;
    border: none;
    width: 15rem;
}
.occupation-btn:hover{
    border: 2px solid #ff5b2e;
    transform: scale(1.025)
}


/* Register & Forgot CSS */

.register-forgot-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 2rem;
}

.register-container, .forgot-container{
    grid-column: auto / span 6;
    justify-self: center;
    text-align: center;
}

.register-btn{
    margin: 1rem;
    height: 50px;
    font-size: large;
    border-radius: 15px;
    box-shadow: 1px 3px 6px 1px rgba(92, 92, 92, 0.289);
    background-color: #ff5b2e;
    color: white;
    border: none;
    width: 10rem;
}

.register-title{
    font-size: 2rem;
    color: #ff5b2e;
}

.register-lbl{
    margin-top: 3rem;
}

.register-btn:hover, .login-btn:hover{
    border: 2px solid #ff5b2e;
    transform: scale(1.025)
}

.forgot-lbl{
    margin: 1rem;
}

.forgot-btn{
    margin: 1rem;
    width: 10rem;
    margin: 1rem;
    height: 50px;
    font-size: large;
    border-radius: 15px;
    box-shadow: 1px 3px 6px 1px rgba(92, 92, 92, 0.289);
    border: none;
    align-items: center;
    text-align: center;
}
.forgot-btn:hover{
    border: 2px solid #ff5b2e;
    transform: scale(1.025)
}