
.chew-logo-login{
    display: grid;
    grid-template-columns: 2fr, 8fr, 2fr;
    grid-column: 3 / 10;
    margin: 2rem;
    height: 75px;
}

.form-body {}

.form-group{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px #C8BCAC;
    border-radius: 2rem;
  }

  .form-group{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn-group{

    margin: 0.5rem;
}