.main-menu{
    text-align: center;
}
.main-menu-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: .5rem;
}

.main-menu-title{
    font-style: italic;
    font-size: 40px;
    color: #ff5b2e;
}

.main-menu-btn{
    grid-column: auto / span 12;
    margin: 1rem 10rem 1rem 10rem;
    height: 4rem;
    letter-spacing: 3px;
    font-size: large;
    border-radius: 15px;
    box-shadow: 1px 3px 6px 1px rgba(92, 92, 92, 0.289);
    margin: 1rem 10rem 1rem 10rem;
    
}


.btn1, .btn2, .btn3{
    background-color: #ff5b2e;
    color: white;
    border: none;
}
    .btn1:hover, .btn2:hover, .btn3:hover{
        border: 2px solid #ff5b2e;
        transform: scale(1.025)
    }

.btn4{
    border: none;
    color: #ff5b2e;
}
    .btn4:hover{
        transform: scale(1.025)
    }
