.ingredient-container{
    /* Does this work OK with flex or grid? */
    margin-left: auto; 
    margin-right: auto;

    /* H and W needs to be relative to screen size */
    max-height: 25em;
    width: 60vw;


    padding: .5em;
    background-color: #fff;
    border-radius: 25px;
    overflow-y: auto;
    box-shadow: 2px 2px #00000033;
    
    
}

.ingredient-container li{
    margin: .4em;
    padding: .2rem;
    /* color: red; */
}

.ingredient-container ul{
    margin-top: 1em;
}