.profilecard-container{
    width: 95%;
    height: 60vh;
    display: grid;
    position: relative;
    overflow: hidden;
    z-index: 7;
    top: 100px;
    left: 30px;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: solid #C8BCAC 2px;
    border-radius: 2rem;
    box-shadow: 1px 3px 6px 1px rgba(92, 92, 92, 0.289);
}

.profilecard-container label{
    align-self: flex-end;
}

.banner-orange{
background-color: #ff5b2e;
height: 225px;
width: 100%;
max-width: 100%;
position: absolute;
top: 0;
}

.profile-picture{
    background-color: magenta;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 10px;
    left: 15px;
    background-size: 200px;
    border: #000000 40px;
    border-radius: 3rem;
    box-shadow: 15px 6px 20px 4px rgba(0, 0, 0, 0.289);
}

.information{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 260px;
    color: rgb(248, 248, 248);
    font-size: 25px;
}

.fremgang{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 110px;
    left: 260px;
    background-color: rgb(248, 248, 248);
    border: #000000 40px;
    border-radius: 3rem;
    box-shadow: 15px 6px 20px 4px rgba(0, 0, 0, 0.289);
}

.level{
    top: 95px;
    left: 283px;
    color: #ffdf50;
    position: absolute;
    font-size: 80px;
}

.tracker{
    width: 300px;
    height: 20px;
    position: absolute;
    top: 150px;
    left: 380px;
    background-color: rgb(248, 248, 248);
    border: #000000 40px;
    border-radius: 3rem;
    box-shadow: 15px 6px 20px 4px rgba(0, 0, 0, 0.289);
}

.bragde-boks{
    width: 500px;
    height: 180px;
    display: flex;
    position: absolute;
    top: 20px;
    left: 900px;
    border: #000000 40px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 15px 6px 20px 4px rgba(0, 0, 0, 0.289);
}

.h2-bragder{
    position: absolute;
    top: 0;
    left: 40%;
    text-decoration: underline;
}

.bragd-stekepanne{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50px;
    left: 10px;
    background-image: url(../../public/images/stekepanne.png);
    background-size: 50px;
    border: #000000 40px;
    border-radius: 3rem;
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.289);
    cursor: pointer;
}

.explenation-stekepanne{
    display: none;
    width: 120px;
    font-size: 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: -555;
    bottom: -60px;
    left: 15px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.bragd-stekepanne:hover, .explenation-stekepanne{
    display: flex;
    opacity: 1;
    animation: wiggle 2s linear;
}

.bragd-kuttetomat{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50px;
    left: 80px;
    background-image: url(../../public/images/bragd-tomat.png);
    background-size: 50px;
    border: #000000 40px;
    border-radius: 3rem;
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.289);
}

.bragd-kuttetomat:hover{
    animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
    0%, 7%{
        transform: rotate(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
}

.background-beige{
    position: absolute;
    z-index: -1;
    background-image: url("../../public/images/Denbeigegreia.svg");
    height: 250px;
    width: 100%;
    top: 0;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-foods{
    position: absolute;
    z-index: -3;
    top: 8%;
    background-image: url("../../public/images/Bakgrunnbrokoli.png");
    height: 112%;
    width: 100%;
    background-position-y: center;
    background-repeat: repeat-y;
    background-size: 100% 100%;
    background-origin: content-box;
}

.background-blue{
    position: absolute;
    z-index: -1;
    top: 100%;
    background-image: url("../../public/images/Denblågreia.svg");
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}