.qa-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20vh;
    margin: 3rem 5rem 5rem 5rem;
    border-radius: 25px;
    background-color: white;
    box-shadow: 3px 3px #00000033; 
    background-color: #fcfcfc;
}

.qa-container .title-container{
    grid-column: auto / span 12;
}

.question-container{
    grid-column: auto / span 9;
    border-right: 1px solid black;
    margin-bottom: 2rem;
}

.question-list{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    margin: 2rem;
}

.question-item{
    grid-column: auto / span 6;
    text-align: center;
    list-style: none;
}

.question-title{
    font-size: 2rem;
}

.question-question{
    color: #ff5b2e;
}

.question-answer{
    font-size: 1rem;
    color: black;

}

.contact-container{
    grid-column: auto / span 3;
    margin: 0 1rem 1rem 1rem;
}


.contact-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 2rem 0 2rem;
    color: black;
}

.contact-title{
    font-size: 2rem;
}

.contact-item svg{
    color: #ff5b2e;
}
