.title-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.sidetab-left{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 85px;
    height: 65px;
    visibility: hidden;
}

.sidetab-right{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 85px;
    height: 65px;
    background-color: #ff5b2e;
    border-radius: 50px 0px 0px 50px;
}

.sidetab-icon{
    height: 40px;
}