.tap-wrapper{
    display: grid;
}

.page-title{
    justify-self: center;
}

.sidetab{
    position: absolute;

    display: grid;
    justify-items: center;
    align-items: center;
    width: 85px;
    height: 65px;
    background-color: #ff5b2e;
}

.sidetab-icon{
    height: 40px;
}

.fridge{
    border-radius: 50px 0px 0px 50px;
    justify-self: end;
}