.school-private{
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
}

.swap-btn{
    height: 40px;
    width: 85px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(128, 128, 128);
    background-color: rgb(204, 204, 204);
    border: none;
    box-shadow: 2px 2px 6px 1px rgba(128, 128, 128, 0.411);
}

.school-btn{
    border-radius: 10px 0px 0px 10px;
}

.private-btn{
    border-radius: 0px 10px 10px 0px;
}

.clicked{
    background-color: rgb(88, 201, 88);
    color: rgb(1, 77, 0);
    transform: scale(1.1);
}