

.shoppinglist-container{
    display: grid;
    background-color: white;
    
    max-height: 650px;
    max-width: 650px;
    overflow-y: scroll;
    margin: auto;
    margin-top: 30px;
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.289);
}

.cross-container{
    justify-self: end;
    margin: 1rem 1rem 0 0;
    position: absolute;
}

.pluss-container{
    justify-self: end;
    align-self: flex-end;
    margin: 0 1rem 1rem 0;
    position: absolute;
    transform: scale(2);
}

.grocery-container{
    margin: 0 2rem 3rem 3rem;
    gap: 3rem 1rem;
    justify-content: center;
    min-height: 35px;
}

.wrapper{
    justify-self: center;
    background-color: white;
  
}

.grocery-item{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    gap: 1rem;
    margin: 2rem 2rem 2rem 0;
    border-bottom: 1px solid black;
}

.number-input{
    grid-column: auto/ span 3;
    width: 2rem;
    white-space: nowrap;
}

.grocery-label{
    grid-column: auto/ span 7;
}

.checkbox-input{
    grid-column: auto/ span 1;
    width: 2rem;
    height: 2rem;
}

.trashcan-icon{
    grid-column: auto/ span 1;
}

.edit-icon{
    grid-column: auto/ span 1;
}

.item-buttons{
    display: flex;
    justify-content: space-between;
}