.tab-wrapper{
    display: flex;
    justify-content: space-between;
}

.sidetab{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 6px 1px rgba(92, 92, 92, 0.411);
    width: 85px;
    height: 70px;
    background-color: #ff5b2e;
}

.sidetab-left{
    border-radius: 0px 50px 50px 0px;
}

.sidetab-right{
    border-radius: 50px 0px 0px 50px;
}