.social-container{
    background-color: #ff5b2e;
    border-radius: 50px 0 0 50px;
    width: 30vw;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    position: fixed;
    top: 20;
    left: 100%;
    transition: 500ms;
    z-index: 900;
    max-height: 60vh;
}

.social-container.active{
    left: 70%;
    transition: 850ms;
}

.social-header{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: auto / span 12;
    width: 100%;
    margin-left: 1rem;
}

.social-title{
    grid-column: auto / span 9;
    color: white;
    align-self: center;
}

.social-cross{
    grid-column: auto / span 3; 
    align-self: center;
}

.social-cross svg{
    font-size: 3rem;
    color: white;
}

.social-list{
    grid-column: auto / span 12;
    border: 2px solid black;
    margin: 0 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.social-item{
    grid-column: auto / span 12;
    border-bottom: 1px solid black;
}

.social-name{
    color: white;
}

.social-search{
    grid-column: auto / span 12;    
    width: 70%;
    justify-self: center;
    margin: 0 1rem 1rem 1rem ;
}