.video-player{
    display: flex;
    justify-content: center;
    margin: 2rem;

}
.container{
    display: grid;
    justify-items: center ;
    justify-content: center;
    margin-top: 5rem;
    grid-template-columns: 10rem 10rem 10rem;
    grid-gap: 15rem;
    row-gap: 4rem;
    margin-bottom: 5rem;
    
}
.grid-item{
    box-shadow: gray;
    width: 10rem;
    display: flex;
    justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;
}