.navbar{
    padding: 0.5rem;
    margin: 0 .5rem 0 .5rem ;
    /*kun for testing, skal fjernes */
    /* background-color: rgb(255, 203, 184);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-menu{
    height: 50px;
}

.profile-btn{
    grid-column: 11 / 12;
    height: 50px;
}

.menu-bars svg{
    font-size: 3rem;
    margin: 1rem;
    color: #FF5B2E;
}

.nav-menu{
    background-color: antiquewhite;
    width: 30vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 100%;
    transition: 500ms;
    z-index: 999;
}
.nav-menu.active{
    right: 70%;
    transition: 850ms;
}

.nav-text{
    display: flex;
    margin-top: 2rem;
    list-style: none;
}

.nav-text a {
    text-decoration: none;
    color: #FF5B2E;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover{

}


.nav-menu-items{
    width: 100%;
}

.navbar-toggle{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
}

span{
    margin-left: 16px;
    font-size: 1.5rem;
    font-weight: 200;
}