.profile-page-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profilecard-container, .activities-container, .locked-items-container, .progression-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    min-width: 45em;
    width: 45%; 
    min-height: 30em;
    height: 40vh;
    margin: 2em auto 1em;

    overflow: hidden;

    
    /* top: 5em;
    left: 2em; */
    
    background-color: rgb(255, 255, 255);
    border: solid #C8BCAC 2px;
    border-radius: 2rem;
    box-shadow: 1px 3px 6px 1px rgba(92, 92, 92, 0.289);
}

.activities-container{
    overflow-y: scroll;
}

/* .locked-items-container{
    
} */
.profile-content-wrapper{
    /* position: relative; */
    margin: 0;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.profilecard-container label{
    align-self: flex-end;
}

.banner-orange{
height: 15em;
width: 100%;
max-width: 100%;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
top: 0;
background-color: #ff5b2e;
/* background-color: aqua; */
}

.banner-orange-sm{
    height: 8em;
    width: 100%;
    /* max-width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* top: 100em; */
    background-color: #ff5b2e;
}

.banner-orange-sm h1{
    color: #fff;
}

.information{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.profile-picture{
    background-color: yellow;
    width: 12em;
    height: 12em;
    margin-left: 1.5em;
    background-size: 200px;
    border: #000000 40px;
    border-radius: 3rem;
    box-shadow: 15px 6px 20px 4px rgba(0, 0, 0, 0.289);
}

.info-text{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    color: rgb(248, 248, 248);
    font-size: 30px;
}

.level-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fremgang{
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 248, 248);
    border: #000000 40px;
    border-radius: 3rem;
    box-shadow: 15px 6px 20px 4px rgba(0, 0, 0, 0.289);
}

.level-number{
    color: limegreen;
    font-size: 80px;
    margin: -15;
}

.tracker{
    width: 300px;
    height: 20px;
    margin-left: 1em;
    background-color: rgb(248, 248, 248);
    border: #000000 40px;
    border-radius: 3rem;
    box-shadow: 15px 6px 20px 4px rgba(0, 0, 0, 0.289);
}

.tracker-prosent{
    height: 100%;
    background-color: limegreen;
    border: #000000 40px;
    border-radius: 3rem 0 0 3rem;
}

.bragde-boks{
    width: 100%;
    height: 9em;
    margin-top: 16em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bragd-icon-container{
    display: flex;
    flex-direction: row;
}

.h2-bragder{
    text-decoration: underline;
    font-size: 2em;
}

.achievment-circle{
    display: flex;
    flex-direction: column;
    margin: 3em 1em 0;
    width: 4em;
    height: 4em;
    border-radius: 3rem;
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.289);
    cursor: pointer;
}

.achievment-image{
    width: 3em;
    height: 3em;
}

.explanation{
    display: none;
    width: 120px;
    font-size: 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: -555;
    bottom: -60px;
    left: 15px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.achievment-circle:hover, .explanation{
    display: flex;
    opacity: 1;
    animation: wiggle 2s linear;
}

@keyframes wiggle {
    0%, 7%{
        transform: rotate(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
}