.profile-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 5rem;

}

.profilecard-container, .activities-container, .progression-container, .locked-items-container{
    grid-column: auto / span 6;
}



.profilecard-container, .activities-container, .locked-items-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 90%; 
    min-height: 30em;
    height: 40vh;
    margin: 2em auto 1em;

    overflow: hidden;

    background-color: rgb(255, 255, 255);
    border: solid #C8BCAC 2px;
    border-radius: 2rem;
    box-shadow: 1px 3px 6px 1px rgba(92, 92, 92, 0.289);
}

.activities-container{
    overflow-y: scroll;
}

/* .locked-items-container{
    
} */
.profile-content-wrapper{
    /* position: relative; */
    margin: 0;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.profilecard-container label{
    align-self: flex-end;
}

.banner-orange{
    padding: 1rem;
    width: 100%;
    position: absolute;
    background-color: #ff5b2e;
    /* background-color: aqua; */
}

.information{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.profile-picture{
    grid-column: auto / span 2;
    width: 12em;
    height: 12em;
    margin-left: 1.5em;
    background-size: 200px;
    border: #000000 40px;
    border-radius: 3rem;
    box-shadow: 15px 6px 20px 4px rgba(0, 0, 0, 0.289);
}

.info-text{
    grid-column: auto / span 10;
    color: rgb(248, 248, 248);
    font-size: 30px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 1rem 1rem 1rem 3rem;
}
.profile-name, .profile-school{
    grid-column: auto /span 12;
}

.level-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fremgang{
    width: 90px;
    display: grid;
    background-color: rgb(248, 248, 248);
    border: #000000 40px;
    border-radius: 3rem;
    box-shadow: 15px 6px 20px 4px rgba(0, 0, 0, 0.289);
}

.level-number{
    color: limegreen;
    font-size: 3.6rem;
    align-self: center;
    justify-self: center;
    
}

.tracker{
    width: 15vw;
    height: 20px;
    margin-left: 1em;
    background-color: rgb(248, 248, 248);
    border: #000000 40px;
    border-radius: 3rem;
    box-shadow: 15px 6px 20px 4px rgba(0, 0, 0, 0.289);
}

.tracker-prosent{
    height: 100%;
    background-color: limegreen;
    border: #000000 40px;
    border-radius: 3rem 0 0 3rem;
}

.bragde-boks{
    width: 100%;
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bragd-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.h2-bragder{
    text-decoration: underline;
    font-size: 2em;
}

.achievment-circle{
    display: flex;
    flex-direction: column;
    margin: 3em 1em 0;
    width: 4em;
    height: 4em;
    border-radius: 3rem;
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.289);
    cursor: pointer;
}

.achievment-image{
    width: 3em;
    height: 3em;
}

.explanation{
    display: none;
    width: 120px;
    font-size: 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: -555;
    bottom: -60px;
    left: 15px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.achievment-circle:hover, .explanation{
    display: flex;
    opacity: 1;
    animation: wiggle 2s linear;
}

.progression-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
    width: 90%; 
    min-height: 30em;
    height: 40vh;
    margin: 2em auto 1em;

    overflow: hidden;

    background-color: rgb(255, 255, 255);
    border: solid #C8BCAC 2px;
    border-radius: 2rem;
    box-shadow: 1px 3px 6px 1px rgba(92, 92, 92, 0.289);
}

.banner-orange-sm{
    grid-column: auto / span 12;
    height: 8em;
    /* max-width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* top: 100em; */
    background-color: #ff5b2e;
    
}

.banner-orange-sm h1{
    color: #fff;
}

.progression-image-container{
    grid-column: auto / span 12;
    max-height: 45vh;
    margin: 0 1rem 0 10rem;
}
.progression-tracker{
    max-width: 100%;
    max-height: 100%;
}

@keyframes wiggle {
    0%, 7%{
        transform: rotate(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
}
@media (max-width: 820px){
    .profile-container{
        display: block;
        
    }
    
    .profile-container{
        display: block;
    }

    
}