.progression-container{
    width: 45%; 
    height: 40vh;
    min-height: 25em;
    display: flex;
    position: relative;
    overflow: hidden;
    top: 5em;
    left: 2em;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: solid #C8BCAC 2px;
    border-radius: 2rem;
    box-shadow: 1px 3px 6px 1px rgba(92, 92, 92, 0.289);
}

.banner-orange-sm{
    height: 125px;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100em;
    background-color: #ff5b2e;
}

.progression-h2{
    color: white;
    font-size: 2em;
}