.qa-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 3rem 5rem 0 5rem;
    height: 65vh;
    background-image: url("../../public/images/Bakgrunnbrokoli.png");
    border-radius: 25px;
}

.qa-container h2{
    grid-column: auto / span 12;
    text-decoration: underline;
    margin: 0;
}

.question-container{
    grid-column: auto / span 9;
    border-right: 1px solid black;
}

.question-list{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
}

.question-item{
    grid-column: auto / span 6;
    text-align: center;
    list-style: none;
}

.contact-container{
    grid-column: auto / span 3;
}


.contact-item{
    display: flex;
    justify-content: space-between;
    margin: 0 2rem 1rem 2rem;
}
