.tutorial-container{
    background-color: white;
    margin: 2rem;
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 2px 2px 6px 1px rgba(128, 128, 128, 0.411);
}

.video-player{
    display: flex;
    justify-content: center;
    margin: 2rem;

}
.container{
    display: grid;
    justify-items: center ;
    justify-content: center;
    margin-top: 5rem;
    grid-template-columns: 10rem 10rem 10rem;
    grid-gap: 15rem;
    row-gap: 4rem;
    margin-bottom: 5rem;
    
}
.grid-item{
    box-shadow: gray;
    width: 10rem;
    display: flex;
    justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;
}